<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/styles/shared.css">
        <title>Admin - Customers</title>
    </head>

    <body>
        <div class="navbar-bkg"></div>
        <div class="container navbar d-flex-sp">
            <li class='shop-name'>
                <h1>My Shop</h1>
            </li>
            <div class="navbar-right-items d-flex-sp">
                <div class="navbar-btn-div">
                    <button class="add-product btn btn-add-product btn-navbar" id='addproduct'><i
                            class="fas fa-plus-circle"></i> Add
                        Product</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn b-s-none" id='admin-name'>Admin
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Settings</a>
                        <a href="/admin/logout" id='admin-logout'>Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex-sp">

            <!-- Sidebar content -->

            <div class="sidebar">
                <!-- <div class="shopname">
                    <h2>My Shop</h2>
                </div> -->
                <div class="navigation">
                    <ul>
                        <li><a href="/dashboard" class="side-bar-icon"> <span class="fas fa-chart-bar"></span> &nbsp
                                &nbsp Dashboard</a></li>
                        <li><a href="/inventory" class="side-bar-icon"> <span class="fas fa-dolly-flatbed"></span> &nbsp
                                &nbsp Inventory</a></li>
                        <li><a href="/receipts" class="side-bar-icon"> <span class="fas fa-receipt"></span> &nbsp &nbsp
                                Receipts</a></li>
                        <li><a href="/customers" class="side-bar-icon"> <span class="far fa-user"></span> &nbsp &nbsp
                                Customers</a></li>
                        <li><a href="/reports" class="side-bar-icon"> <span class="fas fa-chart-line"></span> &nbsp
                                &nbsp Reports</a></li>
                        <li><a href="/employees" class="side-bar-icon"> <span class="fas fa-user-friends"></span> &nbsp
                                &nbsp Employees</a></li>
                        <li><a href="/support" class="side-bar-icon"> <span class="fa fa-life-ring"></span> &nbsp &nbsp
                                Support</a></li>
                        <li><a href="/settings" class="side-bar-icon"> <span class="fas fa-cog"></span> &nbsp &nbsp
                                Settings</a></li>

                    </ul>
                </div>
            </div>
            <!-- page[admin - customers] content -->
            <div class="main-container">
                <div class="main-section" id='main-article-customers'>
                    <div class="alert-message" id='page-alert-customers'>
                        <div class="success" id='page-alert-success-customers'></div>
                        <div class="error" id='page-alert-error-customers'></div>
                    </div>
                    <div class="section-title">
                        <h2>Customers</h2>
                    </div>
                    <div class="section-controls d-flex-sp">
                        <div class="search-bar">
                            <span id='search-inventory-logo' for='search-products'> <i
                                    class="fas fa-search"></i></span><input type="text" name="search-products"
                                id="inventory-search" placeholder='Search'>

                        </div>
                        <button class="add-customers btn btn-customer" id='btn-add-customers'><i
                                class="fas fa-plus-circle"></i> Add Customer</button>
                    </div>
                    <!-- commented -->

                    <!-- commentend -->
                    <!-- Add customer Modal content -->
                    <div id="myModal-addform-customers" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="modal-form">
                                <form>
                                    <label for="fname">firstname:</label>
                                    <input type="text" id="cust-fname" name='fname'><br><br>
                                    <label for="lname">Lastname:</label>
                                    <input type="text" id="cust-lname" name="lname"><br><br>
                                    <label for="email">Email:</label>
                                    <input type="email" id="cust-email" name="email"><br><br>
                                    <label for="phone">Phone:</label>
                                    <input type="text" id="cust-phone" name="phone"><br><br>
                                    <input type="submit" value="Add Customer" id='cust-submit'>

                                </form>
                            </div>
                            <div class="error form-error" id='form-alert-error-customers'>
                            </div>
                        </div>
                    </div>
                    <!-- // Actions Modals -->
                    <div id="myModal-editUpdate-customers" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" id='update-modal-close-customers'>&times;</span>
                            <div class="modal-form">
                                <form>
                                    <input type="text" id='hiddenprodid' style='position:absolute; visibility:hidden;'>
                                    <label for="fname">firstname:</label>
                                    <input type="text" id="edit-cust-fname" name='fname'><br><br>
                                    <label for="lname">Lastname:</label>
                                    <input type="text" id="edit-cust-lname" name="lname"><br><br>
                                    <label for="email">Email:</label>
                                    <input type="email" id="edit-cust-email" name="email"><br><br>
                                    <label for="phone">Phone:</label>
                                    <input type="text" id="edit-cust-phone" name="phone"><br><br>
                                    <input type="submit" value="Update Customer" id='edit-cust-submit'>

                                </form>
                            </div>
                            <div class="error form-error" id='update-form-alert-error-customers'>
                            </div>
                        </div>
                    </div>
                    <div id="myModal-delete-customers" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" id='delete-modal-close-customers'>&times;</span>
                            <div class="modal-form">
                                <form>
                                    <h2>Deleting?</h2>
                                    <input type="text" id='delete-hiddenid-cust'
                                        style='position:absolute; visibility:hidden;'>
                                    <label>firstname:</label>
                                    <input type="text" id="del-cust-fname" disabled><br><br>
                                    <label>Lastname:</label>
                                    <input type="text" id="del-cust-lname" disabled><br><br>
                                    <label>Username:</label>
                                    <input type="text" id="del-cust-uname" disabled><br><br>

                                    <label>Email:</label>
                                    <input type="email" id="del-cust-email" disabled><br><br>
                                    <label>Phone:</label>
                                    <input type="text" id="del-cust-phone" disabled><br><br>

                                    <button id='delete-confirm-customer'>Confirm</button>
                                    <button id='delete-cancel-customer'>Cancel</button>
                                </form>
                            </div>
                            <div class="error form-error" id='delete-form-alert-error-customers'>
                            </div>
                        </div>
                    </div>
                    <div id="nothing-customers">
                        <h1>Nothing to see here --- yet</h1>
                    </div>
                </div>

                <script src="{{ url_for('static', filename='scripts/shared.js') }}"> </script>
                <script src="{{ url_for('static', filename='scripts/customers.js') }}"> </script>
            </div>
        </div>
    </body>

</html>
