<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/styles/shared.css">
        <title>Admin - Employees</title>
    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <!-- id added for event listeners in js -->
                <button class="add-product" id='addproduct'>Add Product</button>
                <a href="#">Account</a>
            </div>
            <!-- Sidebar content -->
            <div class="sidebar">
                <div class="shopname">
                    <h2>My Shop</h2>
                </div>
                <div class="navigation">
                    <ul id=sidebar>
                        <li id='sidebar-dashboard'><a href='/dashboard'>Dashboard</a></li>
                        <li id='sidebar-inventory'><a href='./inventory'>Inventory</a></li>
                        <li id='sidebar-receipts'><a href='/receipts'>Receipts</a></li>
                        <li id='sidebar-customers'><a href='/customers'>Customers</a></li>
                        <li id='sidebar-reports'><a href='/reports'>Reports</a></li>
                        <li id='sidebar-employees'><a href='/employees'>Employees</a></li>
                        <li id='sidebar-settings'><a href='/settings'>Settings</a></li>
                    </ul>
                </div>
            </div>
            <!-- page[admin - inventory] content -->
            <div class="main-container">
                <div class="main-section" id='main-article-employees'>
                    <div class="alert-message" id='page-alert-employees'>
                        <div class="success" id='page-alert-success-employees'></div>
                        <div class="error" id='page-alert-error-employees'></div>
                    </div>
                    <div class="section-title">
                        <h2>Employees</h2>
                    </div>
                    <div class="section-controls">
                        <div class="search-area">
                            <input type="text" placeholder="Search" id='search-employees'>
                        </div>
                        <button class="add-employees" id='btn-add-employees'>Add Employee</button>
                    </div>
                    <!-- commented -->

                    <!-- commentend -->
                    <!-- Add product Modal content -->
                    <div id="myModal-addform-employees" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="modal-form">
                                <form>
                                    <label for="fname">firstname:</label>
                                    <input type="text" id="emp-fname" name='fname'><br><br>
                                    <label for="lname">Lastname:</label>
                                    <input type="text" id="emp-lname" name="lname"><br><br>
                                    <label for="uname">Username:</label>
                                    <input type="text" id="emp-uname" name="uname"
                                        placeholder="for signup/login"><br><br>

                                    <label for="email">Email:</label>
                                    <input type="email" id="emp-email" name="email"><br><br>
                                    <label for="phone">Phone:</label>
                                    <input type="text" id="emp-phone" name="phone"><br><br>

                                    <input type="submit" value="Add Employee" id='emp-submit'>

                                </form>
                            </div>
                            <div class="error form-error" id='form-alert-error-employees'>
                            </div>
                        </div>
                    </div>
                    <!-- // Actions Modals -->
                    <!-- edit modal -->
                    <div id="myModal-editUpdate-employees" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" id='update-modal-close-employees'>&times;</span>
                            <div class="modal-form">
                                <form>
                                    <input type="text" id='hiddenid-emp' style='position:absolute; visibility:hidden;'>
                                    <label for="fname">firstname:</label>
                                    <input type="text" id="edit-emp-fname" name='fname'><br><br>
                                    <label for="lname">Lastname:</label>
                                    <input type="text" id="edit-emp-lname" name="lname"><br><br>
                                    <label for="email">Email:</label>
                                    <input type="email" id="edit-emp-email" name="email"><br><br>
                                    <label for="phone">Phone:</label>
                                    <input type="text" id="edit-emp-phone" name="phone"><br><br>
                                    <input type="submit" value="Update Employee" id='edit-emp-submit'>
                                </form>
                            </div>
                            <div class="error form-error" id='update-form-alert-error-employees'>
                            </div>
                        </div>
                    </div>
                    <div id="myModal-delete-employees" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" id='delete-modal-close-employees'>&times;</span>
                            <div class="modal-form">
                                <form>

                                    <h2>Deleting?</h2>
                                    <input type="text" id='delete-hiddenid-emp'
                                        style='position:absolute; visibility:hidden;'>
                                    <label>firstname:</label>
                                    <input type="text" id="del-emp-fname" disabled><br><br>
                                    <label>Lastname:</label>
                                    <input type="text" id="del-emp-lname" disabled><br><br>
                                    <label>Username:</label>
                                    <input type="text" id="del-emp-uname" disabled><br><br>

                                    <label>Email:</label>
                                    <input type="email" id="del-emp-email" disabled><br><br>
                                    <label>Phone:</label>
                                    <input type="text" id="del-emp-phone" disabled><br><br>

                                    <button id='delete-confirm-employee'>Confirm</button>
                                    <button id='delete-cancel-employee'>Cancel</button>
                                </form>
                            </div>


                            <div class="error form-error" id='delete-form-alert-error-employees'>
                            </div>
                        </div>
                    </div>
                    <div id="nothing-employees">
                        <h1>Nothing to see here --- yet</h1>
                    </div>
                </div>

                <script src="{{ url_for('static', filename='scripts/shared.js') }}"> </script>
                <script src="{{ url_for('static', filename='scripts/employees.js') }}"> </script>

            </div>
        </div>
    </body>

</html>
