<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}"> -->
        <link rel="stylesheet" href="../../static/shared.css">
        <title>Admin - Inventory</title>
    </head>

    <body>
        <div class="container">

            <div id="myModal-addproductform" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="modal-form">
                        <form>
                            <label for="title">Name:</label>
                            <input type="text" id="prod-title" name="title"><br><br>
                            <label for="sku">SKU:</label>
                            <input type="text" id="prod-sku" name="sku"><br><br>
                            <label for="cost">Cost:</label>
                            <input type="number" id="prod-cost" name="cost" min='1'><br><br>

                            <label for="price">Price:</label>
                            <input type="number" id="prod-price" name="price" min='1'><br><br>
                            <label for="stock">Stock:</label>
                            <input type="number" id="prod-stock" name="stock" min='1'><br><br>
                            <label for="low">Low:</label>
                            <input type="number" id="prod-low" name="low" min='1'><br><br>

                            <input type="submit" value="Add Product" id='prod-submit'>

                        </form>
                    </div>
                    <div class="error form-error" id='form-alert-error'>
                    </div>
                </div>

            </div>

            <div class="navbar">
                <!-- id added for event listeners in js -->
                <button class="add-product" id='addproduct'>Add Product</button>
                <a href="#">Account</a>
            </div>
            <div class="sidebar">
                <div class="shopname">
                    <h2>My Shop</h2>
                </div>
                <div class="navigation">
                    <ul>
                        <li><a href='/dashboard'>Dashboard</a></li>
                        <li><a href='/inventory'>Inventory</a></li>
                        <li><a href='/inventory'>Receipts</a></li>
                        <li><a href='/inventory'>Customers</a></li>
                        <li><a href='/inventory'>Reports</a></li>
                        <li><a href='/inventory'>Employees</a></li>
                        <li><a href='/inventory'>Settings</a></li>
                    </ul>
                </div>
            </div>

            <div class="main-container">
                <div class="main-section" id='main-article'>
                    <div class="alert-message" id='page-alert'>
                        <div class="success" id='page-alert-success'></div>
                        <div class="error" id='page-alert-error'></div>
                    </div>

                    <div class="section-title">
                        <h2>Inventory</h2>
                    </div>
                    <div class="section-controls">
                        <div class="search-area">
                            <input type="text" placeholder="Search" id='inventory-search'>

                        </div>
                        <button class="add-product" id='addProduct'>Add Product</button>
                    </div>
                    <!-- commented -->

                    <!-- commentend -->
                    <!-- // Actions Modals -->
                    <div id="myModal-editUpdate" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" id='update-modal-close'>&times;</span>
                            <div class="modal-form">
                                <form>
                                    <input type="text" id='hiddenprodid' style='position:absolute; visibility:hidden;'>
                                    <label for="title">Name:</label>
                                    <input type="text" id="edit-title" name="title"><br><br>
                                    <label for="sku">SKU:</label>
                                    <input type="text" id="edit-sku" name="sku"><br><br>
                                    <label for="cost">Cost:</label>
                                    <input type="number" id="edit-cost" name="cost" min='1'><br><br>

                                    <label for="price">Price:</label>
                                    <input type="number" id="edit-price" name="price" min='1'><br><br>
                                    <label for="stock">Stock:</label>
                                    <input type="number" id="edit-stock" name="stock" min='1'><br><br>
                                    <label for="low">Low:</label>
                                    <input type="number" id="edit-low" name="low" min='1'><br><br>

                                    <input type="submit" value="Update Product" id='edit-submit'>

                                </form>
                            </div>
                            <div class="error form-error" id='update-form-alert-error'>
                            </div>
                        </div>
                    </div>
                    <div id="myModal-delete" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" id='delete-modal-close'>&times;</span>
                            <div class="modal-form">
                                <form>

                                    <h2>Deleting?</h2>
                                    <input type="text" id='delete-hiddenprodid'
                                        style='position:absolute; visibility:hidden;'>
                                    <label for="title">Name:</label>
                                    <input type="text" id="delete-title" disabled><br><br>
                                    <label for="sku">SKU:</label>
                                    <input type="text" id="delete-sku" disabled><br><br>
                                    <label for="cost">Cost:</label>
                                    <input type="text" id="delete-cost" disabled><br><br>

                                    <label for="price">Price:</label>
                                    <input type="text" id="delete-price" disabled><br><br>
                                    <label for="stock">Stock:</label>
                                    <input type="text" id="delete-stock" disabled><br><br>
                                    <label for="low">Low:</label>
                                    <input type="text" id="delete-low" disabled><br><br>

                                    <button id='delete-confirm'>Confirm</button>
                                    <button id='delete-cancel'>Cancel</button>
                                </form>
                            </div>


                            <div class="error form-error" id='delete-form-alert-error'>
                            </div>
                        </div>
                    </div>
                    <div id="nothing">
                        <h1>Nothing to see here --- yet</h1>
                    </div>
                </div>

                <script src="{{ url_for('static', filename='inventory.js') }}"> </script>
    </body>

</html>
