<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/styles/shared.css">
        <link rel="stylesheet" href="../../static/styles/receipt.css">
        <title>Admin - Receipts</title>
    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <!-- id added for event listeners in js -->
                <button class="add-product" id='addproduct'>Add Product</button>
                <a href="#">Account</a>
            </div>
            <!-- Sidebar content -->
            <div class="sidebar">
                <div class="shopname">
                    <h2>My Shop</h2>
                </div>
                <div class="navigation">
                    <ul id=sidebar>
                        <li id='sidebar-dashboard'><a href='/dashboard'>Dashboard</a></li>
                        <li id='sidebar-inventory'><a href='./inventory'>Inventory</a></li>
                        <li id='sidebar-receipts'><a href='/receipts'>Receipts</a></li>
                        <li id='sidebar-customers'><a href='/customers'>Customers</a></li>
                        <li id='sidebar-reports'><a href='/reports'>Reports</a></li>
                        <li id='sidebar-employees'><a href='/employees'>Employees</a></li>
                        <li id='sidebar-settings'><a href='/settings'>Settings</a></li>
                    </ul>
                </div>
            </div>
            <!-- page[admin - receipts] content -->
            <div class="main-container">
                <div class="main-section" id='main-article-receipts'>
                    <div class="alert-message" id='page-alert-receipts'>
                        <div class="success" id='page-alert-success-receipts'></div>
                        <div class="error" id='page-alert-error-receipts'></div>
                    </div>
                    <div class="section-title">
                        <h2>Receipts</h2>
                    </div>
                    <div class="section-controls">
                        <div class="search-area">
                            <input type="text" placeholder="Search" id='search-receipts'>
                        </div>
                        <!-- <button class="add-receipts" id='btn-add-receipts'>Add Receipt</button> -->
                    </div>
                    <!-- commented -->

                    <!-- commentend -->


                    <div id="nothing-receipts">
                        <h1>Nothing to see here --- yet</h1>
                    </div>
                    <div id="receipts-table-div" class='receipts-table scrollableDiv h-page'>
                    </div>
                </div>

                <script src="{{ url_for('static', filename='scripts/shared.js') }}"> </script>
                <script src="{{ url_for('static', filename='scripts/receipts.js') }}"> </script>
            </div>
        </div>
    </body>

</html>
