<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/styles/shared.css">
        <link rel="stylesheet" href="../../static/styles/sidebar.css">
        <link rel="stylesheet" href="../../static/styles/receipt.css">
        <title>Admin - Receipts</title>
    </head>

    <body>
        <div class="navbar-bkg"></div>
        <div class="container navbar d-flex-sp">
            <li class='shop-name'>
                <h1>My Shop</h1>
            </li>
            <div class="navbar-right-items d-flex-sp">
                <div class="navbar-btn-div">
                    <button class="add-product btn btn-add-product btn-navbar" id='addproduct'><i
                            class="fas fa-plus-circle"></i> Add
                        Product</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn b-s-none" id='admin-name'>Admin
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Settings</a>
                        <a href="/admin/logout" id='admin-logout'>Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex-sp">

            <!-- Sidebar content -->

            <div class="sidebar">
                <!-- <div class="shopname">
                <h2>My Shop</h2>
            </div> -->
                <div class="navigation">
                    <ul>
                        <li><a href="/dashboard" class="side-bar-icon"> <span class="fas fa-chart-bar"></span> &nbsp
                                &nbsp Dashboard</a></li>
                        <li><a href="/inventory" class="side-bar-icon"> <span class="fas fa-dolly-flatbed"></span> &nbsp
                                &nbsp Inventory</a></li>
                        <li><a href="/receipts" class="side-bar-icon"> <span class="fas fa-receipt"></span> &nbsp &nbsp
                                Receipts</a></li>
                        <li><a href="/customers" class="side-bar-icon"> <span class="far fa-user"></span> &nbsp &nbsp
                                Customers</a></li>
                        <li><a href="/reports" class="side-bar-icon"> <span class="fas fa-chart-line"></span> &nbsp
                                &nbsp Reports</a></li>
                        <li><a href="/employees" class="side-bar-icon"> <span class="fas fa-user-friends"></span> &nbsp
                                &nbsp Employees</a></li>
                        <li><a href="/support" class="side-bar-icon"> <span class="fa fa-life-ring"></span> &nbsp &nbsp
                                Support</a></li>
                        <li><a href="/settings" class="side-bar-icon"> <span class="fas fa-cog"></span> &nbsp &nbsp
                                Settings</a></li>

                    </ul>
                </div>
            </div>
            <!-- page[admin - receipts] content -->
            <div class="main-container">
                <div class="main-section" id='main-article-receipts'>
                    <div class="alert-message" id='page-alert-receipts'>
                        <div class="success" id='page-alert-success-receipts'></div>
                        <div class="error" id='page-alert-error-receipts'></div>
                    </div>
                    <div class="section-title">
                        <h1>Receipts</h1>
                    </div>
                    <div class="section-controls d-flex-sp">
                        <div class="search-bar">
                            <span id='search-inventory-logo' for='search-products'> <i
                                    class="fas fa-search"></i></span><input type="text" name="search-products"
                                id="inventory-search" placeholder='Search'>
                            <!-- <button class="add-receipts" id='btn-add-receipts'>Add Receipt</button> -->
                        </div>
                    </div>
                    <!-- commented -->

                    <!-- commentend -->


                    <div id="nothing-receipts">
                        <br>
                        <h1>Nothing to see here --- yet</h1>
                    </div>
                    <div id="receipts-table-div" class='receipts-table scrollableDiv scrollableDiv600'>
                    </div>
                </div>

                <script src="{{ url_for('static', filename='scripts/shared.js') }}"> </script>
                <script src="{{ url_for('static', filename='scripts/receipts.js') }}"> </script>
            </div>
        </div>
    </body>

</html>
