<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/styles/shared.css">
        <link rel="stylesheet" href="../../static/styles/sidebar.css">
        <link rel="stylesheet" href="../../static/styles/reports.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <title>Admin - Reports</title>
    </head>

    <body>
        <div class="navbar-bkg"></div>
        <div class="container navbar d-flex-sp">
            <li class='shop-name'>
                <h1>My Shop</h1>
            </li>
            <div class="navbar-right-items d-flex-sp">
                <div class="navbar-btn-div">
                    <button class="add-product btn btn-add-product btn-navbar" id='addproduct'><i
                            class="fas fa-plus-circle"></i> Add
                        Product</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn b-s-none" id='admin-name'>Admin
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Settings</a>
                        <a href="/admin/logout" id='admin-logout'>Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex-sp">
            <div class="sidebar">
                <!-- <div class="shopname">
                <h2>My Shop</h2>
            </div> -->
                <div class="navigation">
                    <ul>
                        <li><a href="/dashboard" class="side-bar-icon"> <span class="fas fa-chart-bar"></span> &nbsp
                                &nbsp Dashboard</a></li>
                        <li><a href="/inventory" class="side-bar-icon"> <span class="fas fa-dolly-flatbed"></span> &nbsp
                                &nbsp Inventory</a></li>
                        <li><a href="/receipts" class="side-bar-icon"> <span class="fas fa-receipt"></span> &nbsp &nbsp
                                Receipts</a></li>
                        <li><a href="/customers" class="side-bar-icon"> <span class="far fa-user"></span> &nbsp &nbsp
                                Customers</a></li>
                        <li><a href="/reports" class="side-bar-icon"> <span class="fas fa-chart-line"></span> &nbsp
                                &nbsp Reports</a></li>
                        <li><a href="/employees" class="side-bar-icon"> <span class="fas fa-user-friends"></span> &nbsp
                                &nbsp Employees</a></li>
                        <li><a href="/support" class="side-bar-icon"> <span class="fa fa-life-ring"></span> &nbsp &nbsp
                                Support</a></li>
                        <li><a href="/settings" class="side-bar-icon"> <span class="fas fa-cog"></span> &nbsp &nbsp
                                Settings</a></li>

                    </ul>
                </div>
            </div>
            <div class="main-container">
                <div class="main-section" id='main-article'>
                    <div class="alert-message" id='page-alert'>
                        <div class="success" id='page-alert-success'></div>
                        <div class="error" id='page-alert-error'></div>
                    </div>
                    <div class="section-title d-flex-sp">
                        <h1>Reports</h1>
                        <div class="section-controls">
                            <button id="reports-today" class='btn btn-reports'>Today</button>
                            <button id="reports-yesterday" class='btn btn-reports'>Yesterday</button>
                            <button id="reports-month" class='btn btn-reports'>Last Month</button>
                            <button id="reports-all" class='btn btn-reports'>All Time</button>
                            <!-- <input type="date" name="reports-date" id="reports-date"> -->
                        </div>
                    </div>
                    <div id='the-graphs' class="my-graphs d-flex-sp">
                        <div id="chart1" class='chart'>
                            <h3>NUMBER OF SALES <span id='t-n-sales'></span></h3>
                            <canvas id="chart-count-sales" width="280" height="300"></canvas>
                        </div>
                        <div id="chart2" class='chart'>
                            <h3>Total Sales (Rs.) <span id='t-sales'></span></h3>
                            <canvas id="chart-sales" width="280" height="300"></canvas>
                        </div>
                        <div id="chart3" class='chart'>
                            <h3>Total Profit</h3>
                            <canvas id="chart-profit" width="280" height="300"></canvas>
                        </div>
                    </div>
                    <div id="products-sold-div" class='products-sold'>
                        <div class="products-sold-title d-flex-sp">
                            <h2>Products Sold<span id='t-sold'></span></h2>
                            <button class='btn btn-reports'>Export Data</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/reports.js') }}"> </script>
        <!-- <script src="{{ url_for('static', filename='scripts/reportcharts.js') }}"> </script> -->
    </body>

</html>
