<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/styles/shared.css">
        <title>Employee Login</title>

    </head>

    <body>
        <div class="container">
            <div class="form-container" id='login-form-emp'>
                <div id="message-block-emp" class='error-notify-block'>
                    <div id="error-container-emp" class='error-info-container'>
                        <p id='errorMsg-emp' class='error-info'></p>
                    </div>
                </div>
                <form class="login-form">
                    <label for="uname">Username:</label>
                    <input type="text" name='username' placeholder='your selling username' id='login-emp-uname'>
                    <label for="pwd">Password:</label>
                    <input type="password" name='pwd' placeholder='*******' id='login-emp-pwd'>
                    <button type="submit" id='login-submit-emp'>Login</button>
                </form>
                <p>or Already have an account?</p>
                <button id='already-signup-emp'>Signup</button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/shared.js') }}"> </script>
        <script src="{{ url_for('static', filename='scripts/emplogin.js') }}"> </script>
    </body>

</html>
