*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin:0;
}
/* colors : #A3A0FB  #43425D */
body{
    margin:0;
}

.container{
    width:75%;
    margin:0 auto;
    background-color:#eeee;
}
.navbar{
    position: relative;
    top:0;
    text-align: right;
    background-color: antiquewhite;
    margin:0;
}

.sidebar{
    background-color: #43425D;
    color:white;    
    width:240px;
    height:792px;
    margin:0;
    position:fixed;

}
.sidebar li>a{
    color:white;
    text-decoration: none;
}.main-container{
    background-color: cornsilk;
    width:calc(100% - 240px);
    position: relative;
    float:right;
    
}
.main-section{
    margin:20px 10px 0 20px;
    float:left;
}
table,
th,
td {
  border: 1px solid black;
  
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}
tr,
table {
  border-collapse: separate;
  border-spacing: 2px;
 
  width: 100%;
}
tbody{
    overflow:scroll;
}
table {
  margin-top: 15px;
}
.section-controls{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}
.add-product{
    
}
#nothing{
    display:block;
    text-align: center;
}
.action-symbols{
    font-size: small;
}
/* alert message */

.alert-message,.success,.error{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  display:block;
  position: fixed;
  display:none;
  
}
.alert-message h2{
  color:white;
}
.success {
  background-color: #6ABC6E;
}
.error{
  background-color: #F56358;
}
.form-error{
  position: relative;
}
.form-error h2{
  color:white;
}
/* Modal CSS */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-form{
      width:75%;
      /* margin:0 auto; */
      text-align: center;
  }
 
  .update-btn,.delete-btn{
    font-size: 25px;
    width:35px;
    height:35px;
    cursor: pointer;
    background-color: green;
  }
  .delete-btn{
    color:red;
  }