<!DOCTYPE html>
<html>

    <body style="width: 600px;margin: 0 auto;" cz-shortcut-listen="true">
        <div style="width:500px;margin: 30px auto;">
            <div style="
    background-color: #43425D;
    color: white;
    padding: 20px;
    text-align: center;
    ">
                <h1>Low Stock Alert</h1>
            </div>
            <div style="
    padding: 5px;
">
                <p><span><b>Hi Admin<br><br></b></span>A product is <span style='background-color: black;
                    color: white;
                    padding: 5px 5px;'>out of stock</span> Product details are shown
                    below
                    for
                    ypur reference:</span></p>
            </div>
            <div style="
    padding: 4px;
">
                <h2>Product Details</h2>
            </div>
            <table style="
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        ">
                <thead style="background-color: #3B86FF;">
                    <tr>
                        <th style="
            border: 1px solid black;
            padding: 10px;
        ">Product</th>
                        <th style="
            border: 1px solid black;
            padding: 10px;
        ">SKU</th>
                        <th style="
            border: 1px solid black;
            padding: 10px;
        ">Available Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="
            text-align: left;
            border: 1px solid black;
            padding: 10px;
        ">Title jkhjkhkjh kjh kjh jkh jkhkjhkjhkjh kjhjk hkj hkjh</td>
                        <td style="
            border: 1px solid black;
            padding: 10px;
        ">SKU</td>
                        <td style="
            border: 1px solid black;
            padding: 10px;
        ">Stock</td>
                    </tr>
                </tbody>
            </table>
            <div style="
    margin-top: 50px;
    background: #eeeded;
">
                <p style="
    opacity: 50%;
    padding: 30px;
    font-style: italic;
">Sent by automatic stock status sending function in dbfns.py file</p>
            </div>
        </div>



    </body>

</html>
