.main{
    width: 1500px;
    display:flex;
    margin:0 auto;
}
.section-title{
    font-size: 25px;
    font-weight: bold;
}
.section-main-title{
    font-size: 28px;
}
.last-transactions-container{
    width:300px;
}
.search-area-emp{
    width:800px;
    margin-left: 20px;
}
.search-area-emp span{
    font-size: large;
}
.search-area-emp input{
    width:75%;
    height:40px;
    font-size: large;
}
.current-order-box{
    width:400px;
    margin-left: 20px;
}

table{
    width:100%;
}
thead th{
    position: sticky;
}
tbody {
    height:550px;   
   
}
.calculationDivs{
    display: inline-flex;
    flex-direction: column;

}
.subtotal-div .add-discount-div .total-div .status-of-payment-div{
    display: flex;
}
.current-prod-qty{
    width:50px;
}
.nothing{
    display: none;
}
.last-receipts-container table{
    width:100%;
    
}