.main{
    width: 1500px;
    display:flex;
    margin:0 auto;
}
.section-title{
    font-size: 25px;
    font-weight: bold;
}
.section-main-title{
    font-size: 28px;
}
.last-transactions-container{
    width:300px;
    background-color: rgba(128, 128, 128, 0.363);
}
.search-area-emp{
    width:800px;
    /* background-color: grey; */
    margin-left: 20px;
}
.search-area-emp span{
    font-size: large;
}
.search-area-emp input{
    width:75%;
    height:40px;
    font-size: large;
}
.current-order-box{
    width:400px;
    margin-left: 20px;
}
.current-order-table{
    height:450px;
    background-color: green;
}
.select-input{
    overflow-y: auto;
}
table{
    width:95%;
}
thead, tbody {  }
tbody {
    height:550px;   
   
    overflow:scroll;
}
