@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
*{
  font-family: 'Source Sans Pro','Segoe UI',sans-serif;
    box-sizing: border-box;
    margin:0;
}
/* colors : #A3A0FB  #43425D */
body{
    margin:0;
}

.container{
    width:1500px;
    margin:0 auto;
}
.navbar{
    position: relative;
    top:0;
    text-align: right;
    background-color: antiquewhite;
    margin:0;
}

.sidebar{
    background-color: #43425D;
    color:white;    
    width:240px;
    height:792px;
    margin:0;
    position:fixed;

}
.sidebar li>a{
    color:white;
    text-decoration: none;
}.main-container{
    background-color: cornsilk;
    width:calc(100% - 240px);
    position: relative;
    float:right;
    
}
.main-section{
    margin:20px 10px 0 20px;
    float:left;
    width:100%;
}


.section-controls{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}

#nothing{
    display:block;
    text-align: center;
    width:100%;
}
#nothing h1{
  width:50%;
  margin:0 auto;
}
.action-symbols{
    font-size: small;
}
/* alert message */

.alert-message,.success,.error{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  display:block;
  position: fixed;
  display:none;
  
}
.alert-message h2{
  color:white;
}
.success {
  background-color: #6ABC6E;
}
.error{
  background-color: #F56358;
}
.form-error{
  position: relative;
}
.form-error h2{
  color:white;
}
/* Modal CSS */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-form{
      width:75%;
      /* margin:0 auto; */
      text-align: center;
  }
 
  .update-btn,.delete-btn{
    font-size: 25px;
    width:35px;
    height:35px;
    cursor: pointer;
    background-color: green;
  }
  .delete-btn{
    color:red;
  }

  /* error Block */
  .error-notify-block {
    display: none;
    position: absolute;
    background-color: white;
    left: 275px;
    top: 20px;
    width: 290px;
    height: 70px;
    border-radius: 6px;
    box-shadow: 0px 10px 14px 0px rgba(173, 171, 173, 0.57);
}



.error-info-container p {
    text-align: center;
    position: relative;
    margin: 25px auto;
    color: red;
    font-size: 14px;
    font-weight: bold;
}

/* .error-notify-block {
    display: none;
} */
/* error Block */
.success-notify-block {
  display: none;
  position: absolute;
  background-color: rgba(0, 128, 0, 0.246);
  left: 275px;
  top: 20px;
  width: 320px;
  height: 70px;
  border-radius: 6px;
  box-shadow: 0px 10px 14px 0px rgba(173, 171, 173, 0.57);
}

.success-info-container p {
  text-align: center;
  position: relative;
  margin: 25px auto;
  color: green;
  font-size: 14px;
  font-weight: bold;
}

.receipts-table  a{
  cursor: pointer;
  padding:5px;
  background-color: hotpink;
  border: none;
}
/* table  */


table {
  margin-top: 15px;
  border-collapse: collapse;
  width: 100%;
}
td,th{
  border: 1px solid #ddd;
  padding: 8px;
}
th{
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
  text-align: left;
  background-color: #F5F6FA;
  color: #A3A6B4;
  font-weight: bold;
}
/* tr:nth-child(even){background-color: #f2f2f2;} */
/* tr{
  border-bottom:2px solid grey;
}
.scrollableDiv{
  max-height:400px; 
  overflow-y:auto;
   overflow-x:visible;
}

.scrollableDiv600{
  max-height: 600px;
} 

.h-page{
  height: 640px;
}
.scrollableDiv thead th{
  position: sticky; top: 0 ;
}

/* Important */

.d-flex{
  display: flex;
  justify-content: center;
}
.d-flex-sp{
  display: flex;
  justify-content: space-between;
}
.btn{
  border:none;
  color:white;
  border-radius: 4px;
  width:155px;
  height: 50px;
  box-shadow: 0px 4px 7px 0px rgba(173, 171, 173, 0.57);
  outline: none;
}
.btn:hover{
      cursor: pointer;
      box-shadow: 0px 8px 7px 0px rgba(173, 171, 173, 0.57);
}

.right-display{
  position: absolute;
  left: 975px;
  /* right: 275px; */
}
.b-s-none{
  box-shadow:none;
}